[Unit]
Description=InviteD, a service to allow users to invite other users to yunohost
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
Environment="PATH=__INSTALL_DIR__/env/bin"
ExecStart=__INSTALL_DIR__/env/bin/gunicorn --workers 3 --bind unix:/var/run/gunicorn/__APP__.sock -m 007 app:app
StandardOutput=append:/var/log/__APP__/__APP__.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
