<html>
  <body>
    <form action="/{{ invite_code }}" method="post">
      <label for="username">Desired username: (will be @mutual.email)</label>
      <input type="text" id="username" name="username" required />
      <label for="fullname">Your full name:</label>
      <input type="text" id="fullname" name="fullname" required />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
